body {
  background-color: rgba(52, 180, 180, 0.596);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-radius: 25px;
}

audio {
  padding-bottom: 30px;
}

.feedback {
  margin: 0 auto;
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.gb, .gb:visited {
  border: 2px solid powderblue;
  font: size 21px;
  padding: 3px;
  text-decoration: none;
  background-color: #14796e;
}
.gb:hover, .gb:active {
  background-color: rgb(13, 130, 97);
}
