<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
        <script src="/static/changes.js"></script>
    </head>
    <body>
    
<button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
<button class="tablink" onclick="openPage('Profile', this, 'green')" id="defaultOpen">Profile</button>
<button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact</button>
<button class="tablink" onclick="openPage('Spinder', this, 'orange')">Spinder</button>
<button class="tablink" onclick="openPage('About', this, 'orange')">About</button>
<button class="tablink" onclick="openPage('Account', this, 'orange')">Account</button>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is where the heart is..</p>
</div>



<div id="Profile" class="tabcontent">
  <h3>Profile</h3>
  <p>Some news this fine day!</p> 
  <p>Welcome to SoundTinder </p>
  {% if not current_user.is_authenticated %}
{% else %}
<p>Hi, {{ current_user.name }} [<strong>{{ current_user.email }}</strong>]. You have logged in using a Google Account.</p>
{% if google_data is not none %}
<div class="info">
<p>User info fetched from <strong>{{ fetch_url }}</strong></p>
{% for key, value in google_data.items() %}
  <p><strong>{{ key }}</strong>: {{ value }}</p>
{% endfor %}
</div>
{% endif %}
{% endif %}
</div>




<div id="Contact" class="tabcontent">
  <h3>Search</h3>
  <p>Get in touch, or swing by for a cup of coffee.</p>
</div>




<div id="Spinder" class="tabcontent">
  <h3>Spinder</h3>
  <p>Who we are and what we do.</p>
</div>



<div id="About" class="tabcontent">
  <h3>About us</h3>
  <p>Who we are and what we do.</p>
</div>





<div id="Account" class="tabcontent">
  <h3>Account</h3>
  <p>Who we are and what we do.</p>
  <a href="/logout">Logout</a>
</div>



</body>
</html>