<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
    </head>
    <body>
        <a href="/profile"><button>Profile</button></a>
        <a href="/logout">Logout</a>
        <p>Welcome to SoundTinder </p>
        {% if not current_user.is_authenticated %}
    <p>Click <a href="/google">here</a> to login with a Google Account.</p>
  {% else %}
    <p>Hi, {{ current_user.name }} [<strong>{{ current_user.email }}</strong>]. You have logged in using a Google Account.</p>
  {% if google_data is not none %}
    <div class="info">
      <p>User info fetched from <strong>{{ fetch_url }}</strong></p>
      {% for key, value in google_data.items() %}
        <p><strong>{{ key }}</strong>: {{ value }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% endif %}
    </body>
</html>