<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinder</title>
    <link rel="stylesheet" href="../static/landing.css">
</head>

<body>
    <div class="wrapper">
        <div class="banner">
            <div class="header">
                <img class="logo" src="../images/Spinder.png" width="100" height="100">
                <div class="menu">
                    <div class="Login">
                        Login
                    </div>
                    <div class="About">
                        About
                    </div>
                    <div class="contact">
                        Contact
                    </div>
                </div>
            </div>
            <div class="landingmain">
                <span class="text">
                    Take a Spin on your music life !
                </span>
                <img class="arrow" src="https://i.ibb.co/MSv2H70/arrow.png">
            </div>
        </div>
        <div class="Sect1">
            <div class="leftuser">
                <div class="text_holder">
                    <h1>Swipe to your hearts desire...</h1>
                    <p>
                        Scroll through a database of artists based on the genres
                        you choose, and hopefully find love at first sight with our variety
                        of underground artists!
                    </p>
                </div>
            </div>
            <div class="rightuser">
                <img src="../images/Silent_party.jpg">
            </div>
        </div>
        <div class="Sect2">
            <div class="leftartist">
                <img src="../images/mixer_party2.jpg">
            </div>
            <div class="rightartist">
                <div class="text_holder">
                    <h1>...And get the recognition you deserve</h1>
                    <p>
                        Easily connect your information through our easy to use
                        service, and take your marketing to the next level!
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>