<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spinder</title>
    <link rel="stylesheet" href="../static/landing.css">
</head>

<body>
    <div class="wrapper">
        <div class="banner">
            <div class="header">
                <img class="logo" src="../images/Spinder.png" width="100" height="100">
                <div class="menu">
                    <span>Login</span>
                    <span>About</span>
                    <div class="contact">
                        Contact
                    </div>
                </div>
            </div>
        </div>
        <div class="Sect1">

        </div>
        <div class="sect2">

        </div>
    </div>
</body>

</html>