<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
        <link rel="stylesheet" href={{ url_for('static', filename='menu.css' ) }} />
    </head>
    <body>
        <nav>
            <a href="/home">Home</a>
            <a href="/profile">Profile</a>
            <a href="/spinder">spinder</a>
            <a href="#">search</a>
            <a href="/logout">logout</a>
            <div class="animation start-home"></div>
        </nav>
        <h1>
            Profile Page
        </h1>
        <h2>
            <h1>Register as an artist <a href="/artist_registration">here</a></h1>
        </h2>
        
       
  
    </body>
</html>zz
