<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
        <link rel="stylesheet" href={{ url_for('static', filename='menu.css' ) }} />
    </head>
    <body>
        <nav>
           <li><a href="/home">Home</a> </li>
        <li> <a href="/profile">Profile</a></li>
        <li><a href="/spinder">spinder</a> </li>
        <li><a href="/search">search</a> </li>
        <li> <a href="/logout">logout</a></li>
            <div class="animation start-home"></div>
          </nav>
    {% if current_user.is_authenticated %}
    <div><h2>{{ name }}</h2></div>

    <div>{{ player | safe}}</div>

    <form action="/spinder" method="POST">
        <input type="submit" class="button" id="likeButton" value="Dislike"/>
        <input type="submit" class="button" id="dislikeButton" value="Like"/>
    </form>

    {% else %}
        <p>Click <a href="/google">here</a> to login with a Google Account.</p>
    {% endif %}
    </body>
</html>